.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    position: absolute;
}

.logo {
    max-width: 50px;
    border-radius: 50%;
    background: white;
    padding: 5px;
}

.Header-Link {
    text-decoration: none;
    color: white;
    font-family: 'Nunito', sans-serif;
}

.register-link, .logout {
    margin-right: 25px;
}

.Header-Link:hover {
    border-bottom: 1px solid white;
}

@media screen and (min-width: 900px) {
    .Header {
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
    }

    .Header-Link {
        margin-right: 0;
    }

    .register-link, .logout {
        margin-right: 25px;
    }
}